<!-- front-end-development  -->

<h4 class="text-white">Frontend Development</h4>
<ul class="text-white">
  <li>
    <span class="pink">HTML5 & CSS3: </span> Proficient in semantic HTML and
    modern CSS techniques for responsive design.
  </li>
  <li>
    <span class="pink">JavaScript (ES6+):</span>Strong understanding of core
    JavaScript concepts, including async programming (promises, async/await)
  </li>
</ul>


<!-- Angular Framework  -->

<h4 class="text-white">Angular Framework</h4>
<ul class="text-white">
  <li>
    <span class="pink">Component-Based Architecture: </span> Expertise in building modular applications using Angular components and modules.
  </li>
  <li>
    <span class="pink">Routing: </span>Proficient in implementing Angular Router for navigation and managing application states.
  </li>
  <li>
    <span class="pink">Forms Management: </span>Skilled in using both Reactive and Template-driven forms for user input handling.
  </li>
  <li>
    <span class="pink">Dependency Injection: </span>Understanding of Angular's DI system for managing service lifecycles.
  </li>
</ul>

<!-- State Management  -->

<h4 class="text-white">State Management</h4>
<ul class="text-white">
  <li>
    <span class="pink">Services: </span> Experience in creating and using Angular services for shared logic and data.
  </li>
</ul>

<!-- Build Tools  -->

<h4 class="text-white">Build Tools</h4>
<ul class="text-white">
  <li>
    <span class="pink">Angular CLI: </span> Proficient in using Angular CLI for project setup, building, and optimizing applications.
  </li>
  <li>
    <span class="pink">Code Editor: </span> VS Code Editor.
  </li>
</ul>

<!-- Additional Technologies  -->

<h4 class="text-white">Additional Technologies</h4>
<ul class="text-white">
  <li>
    <span class="pink">APIs: </span> Experience in integrating RESTful APIs and handling HTTP requests using Angular’s HttpClient.
  </li>
  <li>
    <span class="pink">CSS Frameworks: </span> Familiarity with UI frameworks such as Bootstrap and Angular Material for responsive design.
  </li>
</ul>