.row{
    background: black;
    height: 90vh;
}
p{
    text-align: justify;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li{
    display: inline-block;
}
.display{
    width: 100%;
    height: 345px;
    overflow: auto;
}
.display::-webkit-scrollbar {
    width: 12px; /* width of the scrollbar */
    height: 12px; /* height of the scrollbar */
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.image{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 10px solid #F72D93;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: black;
}
.image img{
    width: 100%;
    height: 100%;
}

