<div class="row">
    <h1 class="letter">My Journey</h1>
    <p class="letter text-justified">
      Through online courses, tutorials, and personal projects, I’ve developed a
      solid understanding of
      <span class="pink">Angular, TypeScript, HTML, and CSS</span>. I’ve
      successfully created projects like a
      <span class="pink"
        >Personal Blog Website, The Band Website, Architect Website and
        Inventory Management App </span
      >, which helped me solidify my skills and explore best practices. I thrive
      on problem-solving and enjoy the challenge of bringing ideas to life
      through code. I’m eager to collaborate with experienced developers and
      contribute to meaningful projects while continuing to grow my skill set.
    </p>
    <p class="pink">
      Thank you for your time, and I look forward to the opportunity to connect!
    </p>

</div>
