<!-- ---------------Navbar-Start--------------- -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="#" class="navbar-brand letter">Prashant Singh</a>
        <button class="btn navbar-toggler" data-bs-toggle="collapse" data-bs-target="#mynav">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div id="mynav" class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="home" routerLinkActive="active" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a routerLink="about" routerLinkActive="active" class="nav-link">About Me</a>
                </li>
                <li class="nav-item">
                    <a routerLink="services" routerLinkActive="active" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a routerLink="projects" routerLinkActive="active" class="nav-link">Projects</a>
                </li>
                <li class="nav-item">
                    <a routerLink="contact" routerLinkActive="active" class="nav-link">Contact Me</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!-- -----------------Navbar-End------------------- -->