<div class="row p-2">
  <div class="col p-2">
    <div class="image-container">
      <div class="image">
        <img src="assets/IMAGES/official.png" alt="offical-image" />
      </div>
    </div>
  </div>

  <div class="col p-2">
    <div class="main">
      <div class="content text-white">
        <h1 class="letter">Hi, I'm <span class="pink">Prashant Singh</span></h1>
        <h1>UX/UI Web Designer</h1>
        <h1>From Delhi</h1>
        <ul class="list">
          <li>
            <a href="" class="nav-link">
              <i class="bx bxl-gmail"></i>
              <p class="text">{{ gmail }}</p>
            </a>
          </li>

          <li>
            <a href="" class="nav-link">
              <i class="bx bxl-linkedin"></i>
              <p class="text">{{ linkedIn }}</p>
            </a>
          </li>

          <li>
            <a href="" class="nav-link">
              <i class="bx bxl-github"></i>
              <p class="text">{{ gitHub }}</p>
            </a>
          </li>
        </ul>

        <a
          href="\assets\RESUME\Full Stack Developer.pdf"
          class="btn"
          mat-raised-button
          color="accent"
          download="Prashant.pdf"
          ><i class="bx bxs-download"></i> Download CV</a
        >
      </div>
    </div>
  </div>
</div>
